.App {

}

.App-header {
    background-color: #282828;
    padding: 10px;
    color: white;
}

.AppLogOut {
    font-size:xx-small;
    display:block;
}

.User-header-img {
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 12px;
    margin-right: 8px;
}

.HeaderTeamName {
    font-size:small;
    display:block;
}

.HeaderLogo {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}
